dist: xenial
language: go
env:
  - GO111MODULE=on
go:
  - 1.13
git:
  depth: 1
install: true
notifications:
  email: false
addons:
  sonarcloud:
    organization: phaicom
    token:
      secure: $SONAR_TOKEN # encrypted value of your token
script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic ./...
  - sonar-scanner
after_success:
  - bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN