dist: xenial
language: go
env:
  - GO111MODULE=on
go:
  - 1.13
git:
  depth: 1
install: true
notifications:
  email: false
  slack: $SLACK_TOKEN
script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic ./...
after_success:
  - bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN